﻿@using SharpAdmin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col s12 m12 l12">
        <p>Para iniciar sesión en la aplicación, el usuario a introducir debe estar presente en el listado mostrado en la <a href="/Home/Index">página inicial</a> de SHARPADMIN.</p>
        @*@if (!ViewData.ModelState.IsValid)
            {
                <span class="oculto">
                    @Html.ValidationSummary(true, ViewData.ModelState["InicioMal"].Errors[0].ErrorMessage)
                </span>
            }*@
        <div class="formularioLogin">
            @Html.AntiForgeryToken()
            <div class="input-field">
                @Html.LabelFor(m => m.Usuario, new { @class = "active" })
                @Html.TextBoxFor(m => m.Usuario, new { @maxlength = "15", placeholder = "El usuario debe estar habilitado" })
            </div>
            <div class="input-field">
                @Html.LabelFor(m => m.Password, new { @class = "active" })
                @Html.PasswordFor(m => m.Password, new { @maxlength = "10", placeholder = "12345aA" })
            </div>
            <input type="button" id="conectarSesion" value="@SHA.Idioma.Inicio.opcIniciarMenu" class="btn btn-default" />
        </div>
        @*<section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group col s12 m8 l6">
                            @Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
                <div class="input-field">
                    @Html.LabelFor(m => m.Usuario)
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "red-text col s12" })
                </div>
            </div>
            <div class="form-group col s12 m8 l6">

                <div class="input-field">
                    @Html.LabelFor(m => m.Password, new { @class = "active" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "12345aA" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text col s12" })
                </div>
            </div>
            <div class="form-group col s12 m8 l6">
                <input type="submit" value="Iniciar sesión" class="btn btn-default" />
            </div>
            @*<p>
                    @Html.ActionLink("Registrar como nuevo usuario", "Register")
                </p>*@
        @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                <p>
                    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                </p>
            }
            </section>*@
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}