﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col s16 m12 l12">

        <p>
            Esta aplicación nos permitirá administrar una base de datos SQL Server de prueba.
            <br /><b>Emplearemos C# y ASP.NET MVC</b>, esto conllevará usar:
            <br />- Controladores (para generar nuestras funciones y conectar entre cliente y servidor).
            <br />- Vistas (páginas mayoritáriamente generadas en html, aunque puede inscrustarse Razor o tags javascript)
            <br />- Modelos (para establecer y preparar los datos que recibirá o enviará cierta función del controlador)
            <br /> Y a nivel de cliente, frontend, emplearemos el Framework Materialize CSS, HTML5, Jquery en su versión 2.1.
        </p>
    </div>
</div>