﻿@{
    ViewBag.Title = Html.Raw(SHA.Idioma.Inicio.tituloBienvenida);
}

<div class="row">
    <h2 class="header flow-text">@Html.Raw(SHA.Idioma.Inicio.tituloBienvenida) @*Bienvenidos a SharpAdmin*@</h2>
    <div id="main-information" class="col s16 m12 l12">
        <p>
            @Html.Raw(SHA.Idioma.Inicio.introduccionSharpAdmin) @*Esta aplicación nos permitirá administrar una base de datos SQL Server.*@
            @Html.Raw(string.Format(SHA.Idioma.Inicio.introduccionEmplearSharpAdmin, "<br/><b>", "</b>", "<br/>"))
            @*<br /><b>Emplearemos C# y ASP.NET MVC</b>, esto conllevará usar:
                <br />- Controladores (para generar nuestras funciones y conectar entre cliente y servidor).
                <br />- Vistas (páginas mayoritáriamente generadas en html, aunque puede inscrustarse Razor o tags javascript)
                <br />- Modelos (para establecer y preparar los datos que recibirá o enviará cierta función del controlador)
                <br /> Y a nivel de cliente, frontend, emplearemos el Framework Materialize CSS, HTML5, Jquery en su versión 2.1.*@
        </p>
    </div>
    <div class="col s12 m12 l12">
        <p>
            @Html.Raw(SHA.Idioma.Inicio.textoUsuariosExistentes)  @*Los usuarios existentes en la aplicación son:*@
        </p>
        <ul class="collection colecciones">
            @foreach (var Usuario in ViewBag.ListadoUsers)
            {

                <li class="collection-item avatar">
                    <i class="material-icons circle blue-grey darken-4">perm_identity</i>
                    <span class="title">@Usuario["Nombre"]</span>
                    <p>
                        @Usuario["Usuario"] <br>
                        @Html.Raw(SHA.Idioma.Inicio.labeldeshabilitado)@if (Usuario["Disabled"])
                        {
                            <span>@Html.Raw(SHA.Idioma.Inicio.labelSi)</span>
                        }
                        else
                        {
                            <span>@(SHA.Idioma.Inicio.labelNo)</span>
                        }
                    </p>
                    @if (Usuario["Disabled"])
                    {
                        <a href="#!" class="secondary-content"><i class="material-icons">block</i></a>
                    }
                    else
                    {
                        <a href="#!" class="secondary-content"><i class="material-icons">done</i></a>
                    }
                </li>
            }
        </ul>


        <a class="waves-effect waves-light btn" target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=301865"><i class="material-icons right">help</i>@Html.Raw(SHA.Idioma.Inicio.btnSaberMas)</a>
    </div>
</div>
<script type="text/javascript">
    $("body").data("Idiomas", {
        mensajes: {
            btnAceptar: "@(SHA.Idioma.Inicio.btnAceptar)",
            btnCancelar: "@(SHA.Idioma.Inicio.btnCancelar)",
            mensajeModalSesion: "@(SHA.Idioma.Inicio.mensajeModalSesion)",
            tituloModalSesion: "@(SHA.Idioma.Inicio.tituloModalSesion)"
        }
    });
</script>