﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/string")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            @Html.ActionLink("SHARPADMIN", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })
            @*<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>*@
            @using Microsoft.AspNet.Identity
            @if (Request.Cookies["shlogin"] != null)
            {
                <ul>
                    <li id="closeSession" class="right">
                        <a><i class="material-icons left">power_settings_new</i>@SHA.Idioma.Inicio.opcCerrarMenu</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div class="row">
        <div class="col s12">
            <ul class="tabs transparent menuAplicacion">
                <li class="tab col s3">
                    @*@Html.ActionLink("Inicio", "Index", "Home", new { @class = "blue-grey-text darken-4", @value = "I" })*@
                    <a class="blue-grey-text darken-4" value="I">@SHA.Idioma.Inicio.opcInicioMenu</a>
                </li>


                <li class="tab col s3">@Html.ActionLink(SHA.Idioma.Inicio.opcContactoMenu, "Contact", "Home", new { @class = "blue-grey-text darken-4", @value = "C" })</li>

                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>


    @Html.Hidden("pagina", (string)ViewBag.Pag)
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @(SHA.Idioma.Inicio.footerSharpAdmin)</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/SharpAdmin")
    @RenderSection("scripts", required: false)
</body>

</html>
<script type="text/javascript">
    $(window).load(function (data) {

        if ($.trim($("#pagina").val()) != "") {
            App.elemento = $('ul.tabs').find("a[value='" + $("#pagina").val() + "']");
            $('ul.tabs').tabs(App.elemento, App.elemento);
        }
        if ($(".indicator").length > 1) {
            $(".indicator:last").prevAll("div").remove();
        }
        $(".indicator").addClass("black");
    });
    function load() {
    }

</script>