﻿@using Microsoft.AspNet.Identity
@if (Request.Cookies["shlogin"] != null)
{
    <li class="tab col s3">
        @Html.ActionLink(SHA.Idioma.Inicio.opcAdminMenu, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "blue-grey-text darken-4", @value = "M" })
    </li>


}
else
{

    @*<li class="tab col s3">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "blue-grey-text darken-4", @value = "R" })</li>*@
    <li class="tab col s3">@Html.ActionLink(SHA.Idioma.Inicio.opcIniciarMenu, "Login", "Cuenta", routeValues: "/Manage/Index", htmlAttributes: new { id = "loginLink", @class = "blue-grey-text darken-4", @value = "L" })</li>

}
