﻿@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v13/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuAplicacion {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.oculto {
    display: none !important;
}

.opcion > div > .card-content {
    max-height: 100% !important;
}

[type="checkbox"]:checked + label:before {
    border-top: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    border-right: 4px solid #4CAF50 !important;
    border-bottom: 4px solid #4CAF50 !important;
}

.contenidoTabla {
    height: 300px;
    overflow: auto;
}

.colecciones {
    height: 300px;
    overflow: auto;
}

.imagen {
    position: absolute;
    width: 55px;
    height: 55px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#editProducto > .modal-content {
    height: calc(100% - 10px - 10px);
    overflow-y: hidden;
}

.modal {
    overflow: hidden !important;
}

.imagen-previa {
    position: absolute;
    width: 130px;
    height: 123px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.label {
    transform: translateY(-140%);
    font-size: 0.8rem;
    color: #9e9e9e;
    position: initial;
    top: 0.8rem;
    left: 0.75rem;
    margin-bottom: -17px;
}

#imagenesProductos > .collection-item.avatar {
    min-height: 70px !important;
}

#imagenesProductos {
    height: 255px;
}

.seleccionado {
    background-color: #546e7a !important;
    color: #FFFFFF !important;
}

#subirImagen {
    display: none;
}
