﻿@model List<SharpAdmin.Models.ImagenesViewModel>

<div id="seleccionImagenes">
    @if (Model.Count > 0)
    {
        <p> Seleccione una imagen de la lista para que se aplique al producto</p>
        <ul id="imagenesProductos" class="collection colecciones">
            @foreach (var imagen in Model)
            {
                <li class="collection-item avatar">
                    <img src="productos/@(imagen.name)" alt="@(imagen.type)" class="circle">
                    <span class="title">@imagen.name</span>
                    <p>@imagen.size</p>
                </li>
            }
        </ul>

    }
    else
    {
        <p>No hay imagenes disponible en el servidor</p>
    }
</div>
