﻿@model List<SharpAdmin.Models.AlmacenViewModel>
<div id="GetAlmacen">
    @Html.AntiForgeryToken()
    <ul class="collection colecciones">
        @foreach (var Producto in Model)
        {
            <li class="collection-item avatar">
                @Html.Hidden("idProd", Producto.IdProducto)
                @if (!string.IsNullOrEmpty(Producto.Imagen))
                {
                    <img src="productos/@Producto.Imagen" class="imagen" alt="@Producto.Imagen">
                }
                else
                {
                    <img src="productos/" class="imagen oculto" alt="">
                    <i class="material-icons circle">shopping_cart</i>
                }
                <span class="title"><b>@Producto.Nombre</b></span>
                <p class="descripcion">@Producto.Descripcion</p>
                <p><span class="precio">@(Convert.ToString(Producto.Precio_Inicial).Replace(',', '.'))</span> €</p>
                @if (ViewBag.RolActual != "3")
                {
                    <a href="#!" class="secondary-content editarproducto"><i class="material-icons black-text">edit</i></a>
                }
            </li>
        }
    </ul>

    @if (ViewBag.RolActual != "3")
    {
        <div id="editProducto" class="modal modal-fixed-footer">
            <nav class="modalTitle blue-grey darken-4">
                <div class="nav-wrapper">
                    <a class="brand-logo center">SharpAdmin: Edición del Producto</a>
                </div>
            </nav>
            <div class="modal-content">

                <div class="input-field col s6">
                    <input id="nombre" oldvalue="" type="text">
                    <label for="nombre" class="active">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="precio" oldvalue="" type="number" step="any" min="0">
                    <label for="precio" class="active">Precio</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="descripcion" oldvalue="" class="materialize-textarea" maxlength="50"></textarea>
                    <label for="descripcion" class="active">Descripcion</label>
                </div>
                <div class="input-field col s6">
                    <p class="label">Imagen del Producto</p>
                    <img src="" alt="" id="imagen" class="imagen-previa">
                    <a id="subirimg" class="btn-floating btn-small waves-effect waves-light red right tooltipped" data-position="bottom" data-tooltip="Subir Imagen"><i class="material-icons">attach_file</i></a>
                    <a id="aplicarimg" class="btn-floating btn-small waves-effect waves-light red right tooltipped" data-position="bottom" data-tooltip="Cambiar Imagen"><i class="material-icons">insert_photo</i></a>
                    <input type="file" id="subirImagen" />
                </div>
                @*<div class="seleccion input-field col s12">
                    <select class="icons">
                    <option value="" disabled selected>Seleccionar Imagen</option>
                    <option value="motog.jpg" data-icon="productos/motog.jpg" class="circle">motog.jpg</option>
                    <option value="oneplusone.jpg" data-icon="productos/oneplusone.jpg" class="circle">oneplusone.jpg</option>
                    <option value="macarrones.png" data-icon="productos/macarrones.png" class="circle">macarrones.png</option>
                    <option value="macarrones.png" data-icon="productos/macarrones.png" class="circle">macarrones.png</option>
                    <option value="macarrones.png" data-icon="productos/macarrones.png" class="circle">macarrones.png</option>
                    <option value="macarrones.png" data-icon="productos/macarrones.png" class="circle">macarrones.png</option>
                    <option value="macarrones.png" data-icon="productos/macarrones.png" class="circle">macarrones.png</option>
                    <option value="macarrones.png" data-icon="productos/latafamiliar.png" class="circle">latafamiliar.png</option>
                    </select>
                    <label>Imagen del producto</label>
                    </div>*@
            </div>

            <div class="modal-footer">
                <a href="#!" id="modalBtnCancelar" class="modal-action waves-effect waves-red btn-flat ">@SHA.Idioma.Inicio.btnCancelar</a>
                <a href="#!" id="modalBtnAceptar" class="modal-action waves-effect waves-green btn-flat ">@SHA.Idioma.Inicio.btnAceptar</a>
            </div>
        </div>

        <button id="saveChangeCollection" class="btn waves-effect waves-light green right" type="submit" name="action">
            @SHA.Idioma.Inicio.btnGuardar
            <i class="material-icons right green">save</i>
        </button>

    }

    <button id="volverOpciones" class="btn waves-effect waves-light blue-grey darken-4 left" type="submit" name="action">
        @SHA.Idioma.Inicio.btnVolver
        <i class="material-icons left blue-grey darken-4">undo</i>
    </button>
</div>
