﻿@model List<SharpAdmin.Models.TiendaViewModel>
<div id="GetTiendas">
    @Html.AntiForgeryToken()
    <div class="contenidoTabla">
        <table class="highlight">
            <thead>
                <tr>
                    <th data-field="Nombre">Nombre</th>
                    <th data-field="Direccion">Direccion</th>
                    <th data-field="Telefono">Telefono</th>
                    <th data-field="Correo">Correo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int x = 0;
                }
                @foreach (var Shop in Model)
                {
                    x++;
                    <tr>
                        @Html.Hidden("idShop", Shop.IdTienda)
                        <td><span maxlength="20">@Shop.Nombre</span></td>
                        <td><span maxlength="40">@Shop.Direccion</span></td>
                        <td><span maxlength="9">@Shop.Telefono</span></td>
                        <td><span maxlength="40" class="Correo">@Shop.Correo</span></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (ViewBag.RolActual != "3")
    {
        <button id="saveChangeGrid" class="btn waves-effect waves-light green right" type="submit" name="action">
            @SHA.Idioma.Inicio.btnGuardar
            <i class="material-icons right green">save</i>
        </button>
    }

    <button id="volverOpciones" class="btn waves-effect waves-light blue-grey darken-4 left" type="submit" name="action">
        @SHA.Idioma.Inicio.btnVolver
        <i class="material-icons left blue-grey darken-4">undo</i>
    </button>

</div>



