﻿@model List<SharpAdmin.Models.IndexViewModel>

<div id="GetUsuarios">
    @Html.AntiForgeryToken()
    <div class="contenidoTabla">
        <table class="highlight">
            <thead>
                <tr>
                    <th data-field="Rol">Rol</th>
                    <th data-field="NombreUser">Nombre</th>
                    <th data-field="NombreLogin">Usuario</th>
                    <th data-field="Telefono">Telefono</th>
                    <th data-field="Disabled">Deshabilitado</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int x = 0;
                }
                @foreach (var User in Model)
                {
                    x++;
                    <tr>
                        @Html.Hidden("idUser", User.Id)
                        <td class="roles">
                            <div class="input-field col s12 oculto">
                                <select>
                                    @foreach (var Rol in ViewBag.Roles)
                                    {
                                        if (Rol["ROL"] == User.Rol)
                                        {
                                            ViewBag.TituloRol = Rol["DESCRIPCION"];
                                            <option selected value="@Rol["ROL"]">@Rol["DESCRIPCION"]</option>
                                        }
                                        else
                                        {
                                            <option value="@Rol["ROL"]">@Rol["DESCRIPCION"]</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span maxlength="1" value="@User.Rol">@ViewBag.TituloRol</span>
                        </td>
                        <td><span maxlength="15">@User.NombreUser</span></td>
                        <td><span maxlength="15">@User.NombreLogin</span></td>
                        <td><span maxlength="9">@User.Telefono</span></td>
                        <td>
                            <span></span>
                            @if (ViewBag.RolActual == "1")
                            {
                                @Html.Raw((User.Disabled) ? "<input type='checkbox' id='disabled" + x + "' checked='checked' /> <label for='disabled" + x + "'/>" : "<input type='checkbox'  id='disabled" + x + "' /> <label for='disabled" + x + "'/>")
                            }
                            else
                            {
                                @Html.Raw((User.Disabled) ? "<input type='checkbox' disabled='disabled' id='disabled" + x + "' checked='checked' /> <label for='disabled" + x + "'/>" : "<input type='checkbox' disabled='disabled'  id='disabled" + x + "' /> <label for='disabled" + x + "'/>")
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (ViewBag.RolActual == "1")
    {
        <button id="saveChangeGrid" class="btn waves-effect waves-light green right" type="submit" name="action">
            @SHA.Idioma.Inicio.btnGuardar
            <i class="material-icons right green">save</i>
        </button>
    }

    <button id="volverOpciones" class="btn waves-effect waves-light blue-grey darken-4 left" type="submit" name="action">
        @SHA.Idioma.Inicio.btnVolver
        <i class="material-icons left blue-grey darken-4">undo</i>
    </button>

</div>