﻿@model SharpAdmin.Models.IndexViewModel
@{
    ViewBag.Title = "Administración";
}

<h2>@ViewBag.Title.</h2>
<p>Bienvenido @(Model.NombreUser) ! Ha ingresado como '<b>@(Model.NombreLogin)</b>'</p>
<p>
    Su nivel de acceso es @if (Model.Rol == 1)
    { <b>Administrativo</b>
    }
    else if (Model.Rol == 2)
    {
        <b>Técnico</b>
    }
    else
    {
        <b>Visitante</b>
    }
</p>
<div class="Admin row">
    <div class="section">
        <h5>Área administrativa</h5>
        <p>@ViewBag.StatusMessage</p>
    </div>
    <div class="col s12 m6 opcion">
        <div class="card blue-grey small darken-1">
            <div class="card-content white-text">
                <span class="card-title">Usuarios</span>
                <p>
                    Aquí podra visualizar o editar la informacion personal de los usuarios de la aplicación SharpAdmin.
                </p>
            </div>
            <div class="card-action">
                @Html.Raw((Model.Rol == 1) ? "<a href='#'>Administrar</a>" : "<a value='V'  href='#'>Visualizar</a>")
                @*@if (Model.Rol == 1)
                    {<a href="#">Administrar</a>}
                    else { }
                    <a href="#">Visualizar</a>*@
            </div>
        </div>
    </div>
    <div class="col s12 m6 opcion">
        <div class="card blue-grey small darken-1">
            <div class="card-content white-text">
                <span class="card-title">Almacén</span>
                <p>
                    Aquí podra visualizar o editar la información del Almacén de productos.
                </p>
            </div>
            <div class="card-action">
                @Html.Raw((Model.Rol < 3) ? "<a href='#'>Administrar</a>" : "<a value='V'  href='#'>Visualizar</a>")
            </div>
        </div>
    </div>
    <div class="col s12 m6 opcion">
        <div class="card blue-grey small darken-1">
            <div class="card-content white-text">
                <span class="card-title">Tiendas</span>
                <p>
                    Aquí podra visualizar o editar la información de las tiendas que venden los productos.
                </p>
            </div>
            <div class="card-action">
                @Html.Raw((Model.Rol < 3) ? "<a href='#'>Administrar</a>" : "<a value='V'  href='#'>Visualizar</a>")
            </div>
        </div>
    </div>
    <div class="col s12 m6 opcion">
        <div class="card blue-grey small darken-1">
            <div class="card-content white-text">
                <span class="card-title">Stock</span>
                <p>
                    Aquí podra visualizar o editar la información de la relación entre el Almacén y el servicio de Venta de la tienda.
                </p>
            </div>
            <div class="card-action">
                @Html.Raw((Model.Rol == 1) ? "<a href='#'>Administrar</a>" : "<a value='V' href='#'>Visualizar</a>")
                @*@if (Model.Rol < 3)
                    {<a href="#">Administrar</a>}
                    <a href="#">Visualizar</a>*@
            </div>
        </div>
    </div>
</div>
<script id="initRol" type="text/javascript">
    $(".menuAplicacion").find("a[value='M']").data("Rol", {"Actual":@Model.Rol})
    $("#initRol").remove();
</script>